@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    width: auto;
    scroll-behavior: smooth;
    position: relative;
  }
  
  .locked-textarea {
    resize: none;
  }

 body {
  /* background-color: #FFF67E; */
  /* background: radial-gradient(at top left, #FFEDD8, white) best so far, the whity */
  
  background: radial-gradient(#43a047, #9c27b0); 
  /* background-image: linear-gradient(to right, #d946ef, #fc5296); */
  

  /* background: radial-gradient(circle closest-corner, #43a047, #9c27b0); */

 }


 .bg-cards {
  background: radial-gradient(at bottom right, #0a4e0d, #9c27b0)
  /* background: radial-gradient(at bottom right, #43a047, #9c27b0) */

 }
 /* .general-info-bg {
  background: radial-gradient(at top right, yellow, green)
 } */
 header {

  transition: background-color 0.3s ease-in-out
}
.teachers {
  background: radial-gradient(at bottom right, #43a047, #9c27b0)
  /* background: radial-gradient(circle, #43a047, #9c27b0) */
}

.scrolled {
  /* background-color: #ab47bc; 
   */
   background-color: #9c27b0;


}




/* LANGUAGE SWTICHER */
.language-container {
  
  display: inline-block;
  ;
}

.selected-language {
  width: 80px;
  color: #fff;
  padding: 10px ;
  background-color: #43a047;
  border-radius: 3px;
  cursor: pointer;
}

.language-options {
  width: 80px;
  display: none;
  position: absolute;
  bottom: 100%; /* Display options above the selected language */
  left: 0;
  background-color: #9c27b0;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}

.language-options span {
  display: block;
  padding: 5px;
}

.language-container:hover .language-options {
  display: block;
}


.bg-gradient-radial {
  background: linear-gradient(135deg, #9c27b0,#0277bd);
}



/* QUIZ STYLES */
.quiz {
  width: 975px;
  margin: 0 auto;
  margin-top: 100px;
}


.question {
  background-color: #0094da;
  color: white;
  padding: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.results {
  background-color: #fff;
  height: 300px;
  text-align: center;
}

.congratulations {
  background-color: #0094da;
  padding: 20px;
  font-size: 36px;
  color: #fff;
}

.results-info {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.answer {
  width: 48%;
  background: #fff;
  border: 2px solid #0094da;
  min-height: 70px;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.answer-letter {
  font-size: 30px;
  background-color: #0084da;
  color: #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-text {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.correct-answer {
  border: 2px solid #1ea55b;
}

.correct-answer .answer-letter {
  background: #1ea55b;
}

.wrong-answer {
  border: 2px solid #dc0a0a;
}

.wrong-answer .answer-letter {
  background: #dc0a0a;
}

.next-button {
  margin: 0 auto;
  color: #fff;
  background: #0b0e21;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.score {
  background: #fff;
  color: 000;
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
  font-weight: 600;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled-answer {
  pointer-events: none;
}



/* ENGLISH QUIZ  */

.ul {
  width: 975px;
  margin: 0 auto;
  margin-top: 40px;
}

.li {
  /* width: 48%; */
  background: #fff;
  border: 2px solid #0094da;
  min-height: 70px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  padding-left: 20px;
}
.liQ5 {
  width: 300px;
  background: #fff;
  border: 2px solid #0094da;
  min-height: 70px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  padding-left: 20px;
}

/* F8F4EC */
/* FFEDD8 */
/* FFF67E  cool green*/



/* purple, red, yellow,  */

/* 
.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 1200px;
}

.book__page {
  position: relative;
  flex: 1;
  height: 100%;
  display: grid;
  transform: rotateY(360deg);
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 0% 50%;
}

.book__page--1 img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.book__page-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.book__page-back {
  position: absolute;
  width: 100%;
  height: 883px;
  /* padding: 200px 20px; */
  /* transform: rotateY(360deg) translateZ(1px); /* Adjusted rotateY to flip from right to left */
  /* display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  /* align-items: center; */
/* } */ 

/* .book__page-back table {
  margin-top: 20px;
}

.book__page-back .page__number {
  margin-top: 20px;
}

.flipped .book__page {
  transform: rotateY(180deg);
}  */
